@import '../../styles/utils.scss';

.MainContent {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 60px;
    font-family: 'S-CoreDream-5';

    display: flex;
    flex-direction: column;

    .subtitle {
      font-family: 'S-CoreDream-3';
      margin-top: -10px;
    }
  }

  .contour {
    width: 100%;
    border: solid 1px $white;
    margin: 30px 0;
  }

  .next {
    margin-left: auto;
    padding: 10px 40px;

    color: $grey;
    border: solid 3px $white;
    border-radius: 30px;

    font-size: 20px;
    font-family: 'S-CoreDream-3';
    text-align: center;
    text-decoration: none;
    &:link, &:visited {
      color: $white;
    }
  }
}