@import '../../styles/utils.scss';

.OverviewContent {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  .title {
    font-size: 60px;
    font-family: 'S-CoreDream-5';

    display: flex;
    flex-direction: column;
  }

  .contour {
    width: 100%;
    border: solid 1px $white;
    margin: 25px 0;
  }

  .article {
    font-size: 24px;

    b {
      font-weight: 100;
      font-family: 'S-CoreDream-5';
    }
  }

  .next {
    margin-left: auto;
    margin-top: 20px;
    width: 180px;
    padding: 10px 0;

    color: $grey;
    border: solid 3px $white;
    border-radius: 30px;

    font-size: 20px;
    font-family: 'S-CoreDream-3';
    text-align: center;
    text-decoration: none;
    &:link, &:visited {
      color: $white;
    }
  }
}