@import './styles/utils.scss';

.page-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  
  color: $white;
  background-color: $black;
  background-image: url('./MainBackground.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: 35%;

  display: flex;
  flex-direction: row;

  .navigator {
    margin: auto 0;
    margin-left: 100px;
  }
}

.main-wrapper {
  width: 50%;
  margin-left: auto;

  display: flex;
  flex-direction: column-reverse;

  .content {
    width: 85%;
    margin: auto 0;
  }

  .copyright {
    margin-left: auto;
    padding: 3px 10px;
    color: $grey;
  }
}